h1 {
    color: rgb(142, 198, 205);
    background-color: grey;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: 40px auto 20px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
    text-align: center;
}

.year1 {
    border-color: #04AA6D;
    color: white;
    background-color: #04AA6D;
}

.year1:hover {
    color: #04AA6D;
    background-color: white;
}

.year2 {
    border-color: #ff9800;
    color: white;
    background-color: orange;
}

.year2:hover {
    color: #ff9800;
    background-color: white;
}

.both {
    border-color: #f44336;
    color: white;
    background-color: #f44336;
}

.both:hover {
    color: #f44336;
    background-color: white;
}

footer {
    background-color: grey;
}